$darkLayoutColor: rgb(245, 245, 245);
$layoutBorder: 2px solid rgb(230, 230, 230);
$layoutTextColor: black;

html, body, #root {
  width: 100%;
  height: 100%;
}

#layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}
header *, footer * {
    text-align: center;
    color: $layoutTextColor;
}
header {
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 2em;
    background-color: $darkLayoutColor;
    border-bottom: $layoutBorder;
}



footer {
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
    padding: 1em 0;
    background-color: $darkLayoutColor;
    border-top: $layoutBorder;
    a:hover {
        color: $layoutTextColor;
    }
}
